
<!-- <h1>{{title | uppercase}}</h1>
  <h1>{{title | lowercase}}</h1>
  <h1>{{title | slice:3 }}</h1>
  <h1>{{title | slice:3:5 | uppercase}}</h1>
  <p>yyyy: {{ date | date:'yyyy'}}</p>
  <p>dd: {{date | date:'dd'}}</p>
  <p>MM: {{date | date:'MM'}}</p>
  <p>dd/MM/yyyy: {{date | date:'dd/MM/yyyy'}}</p>
  <p>full: {{date | date: 'full' }}</p>
  <p>fullDate: {{date | date: 'fullDate' }}</p>
  <p>fullTime: {{date | date: 'fullTime' }}</p>
  <p>short: {{date | date: 'short' }}</p>
  <p>shortDate: {{date | date: 'shortDate' }}</p>
  <p>shortTime: {{date | date: 'shortTime' }}</p>

  <p-button label="Submit" icon="pi pi-check" iconPos="left"/> -->


  <shared-menu></shared-menu>
  <router-outlet />
