<h2>Por Región</h2>
<hr>

<div class="row">
  <div class="col text-center">

    <!-- <shared-search-box
      placeholder="Buscar por region..."
      (onDebounce)="searchByRegion($event)"
      (onValue) = "searchByRegion($event)"
    ></shared-search-box> -->

    <button *ngFor="let region of regionsAll" class="btn m-2" (click)="searchByRegion(region)" [ngClass]="{ 'btn-primary': selectedRegion === region }">{{region}}</button>

  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>

  </div>
</div>
